<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/header.ejs") %>
  <body>
    <header class="header">
      <a class="btn" href="/">
        <h2 class="logo">MEMBERS ONLY</h2>
      </a>
      <nav class="navbar">
        <% if(currentUser){%>
        <a class="nav-btn" href="/dashboard">Dashboard</a>
        <a class="nav-btn" href="/log-out">Logout</a>
        <%} else {%>

        <a class="nav-btn" href="/login">Login</a>

        <% } %>
      </nav>
    </header>
    <div class="form">
      <h1>Enter secret code</h1>
      <form class="form-login" action="/register" method="POST">
        <div class="email-input">
          <input id="secret" type="text" name="secret" required />
        </div>

        <button class="btn-login">Submit</button>
      </form>
    </div>
  </body>
</html>
