<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/header.ejs") %>
  <body>
    <header class="header">
      <h2>V.I.P. ONLY</h2>
      <nav class="navbar">
        <% if(currentUser){%>
        <a class="nav-btn" href="/dashboard">Dashboard</a>
        <a class="nav-btn" href="/log-out">Logout</a>
        <%} else {%>

        <a class="nav-btn" href="/register">Register</a>
        <a class="nav-btn" href="/">Homepage</a>
        <% } %>
      </nav>
    </header>
    <div class="form">
      <h1>Login</h1>
      <form class="form-login" action="/log-in" method="POST">
        <div>
          <label for="username">Username</label>
          <input id="username" type="text" name="username" />
        </div>

        <div>
          <label for="password">Password </label>
          <input id="password" type="password" name="password" />
        </div>
        <button class="btn-login">login</button>
      </form>
    </div>
  </body>
</html>
