<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/header.ejs") %>
  <body class="body">
    <div class="form">
      <h1>Login</h1>
      <form class="form-login" action="/sign-up" method="POST">
        <div class="email-input">
          <label for="email">Email</label>
          <input id="email" type="emai" name="email" required />
        </div>
        <div>
          <label for="username">Username</label>
          <input id="username" type="text" name="username" required />
        </div>
        <div>
          <label for="password">Password </label>
          <input id="password" type="password" name="password" required />
        </div>
        <button class="btn-login">Register</button>
      </form>
    </div>
  </body>
</html>
