<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/header.ejs") %>
  <body>
    <header class="header">
      <h2>V.I.P. ONLY</h2>
      <nav class="navbar">
        <% if(currentUser){%>
        <a class="nav-btn" href="/dashboard">Dashboard</a>
        <a class="nav-btn" href="/log-out">Logout</a>
        <%} else {%>

        <a class="nav-btn" href="/login">Login</a>
        <a class="nav-btn" href="/">Homepage</a>
        <% } %>
      </nav>
    </header>
    <div class="form">
      <h1>Register</h1>
      <form class="form-login" action="/sign-up" method="POST">
        <div class="email-input">
          <label for="email">Email</label>
          <input id="email" type="emai" name="email" required />
        </div>
        <div>
          <label for="username">Username</label>
          <input id="username" type="text" name="username" required />
        </div>
        <div>
          <label for="password">Password </label>
          <input id="password" type="password" name="password" required />
        </div>
        <h3>Choose an avatar</h3>
        <div class="avatars">
          <input
            type="checkbox"
            name="avatar"
            id="avatar1"
            value="https://i.imgur.com/aQHVLIP.png"
          />
          <label for="avatar1"></label>
          <input
            type="checkbox"
            name="avatar"
            id="avatar2"
            value="https://i.imgur.com/nyLuzzQ.png"
          />
          <label for="avatar2"></label>
        </div>
        <button class="btn-login">Register</button>
      </form>
    </div>
  </body>
</html>
