<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/header.ejs") %>
  <body>
    <header class="header">
      <a class="btn" href="/">
        <h2 class="logo">MEMBERS ONLY</h2>
      </a>
      <nav class="navbar">
        <% if(currentUser){%>
        <a class="nav-btn" href="/dashboard">Dashboard</a>
        <a class="nav-btn" href="/log-out">Logout</a>
        <%} else {%>

        <a class="nav-btn" href="/login">Login</a>

        <% } %>
      </nav>
    </header>
    <div class="form">
      <h1>Register</h1>
      <form class="form-login" action="/sign-up" method="POST">
        <div class="email-input">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" required />
        </div>
        <div>
          <label for="username">Username</label>
          <input id="username" type="text" name="username" required />
        </div>
        <div>
          <label for="password">Password </label>
          <input id="password" type="password" name="password" required />
        </div>
        <h3>Choose an avatar</h3>
        <div class="avatars">
          <input
            type="radio"
            class="radio"
            name="avatar"
            id="avatar1"
            value="https://i.imgur.com/aQHVLIP.png"
          />
          <label for="avatar1"></label>

          <input
            type="radio"
            name="avatar"
            id="avatar2"
            value="https://i.imgur.com/nyLuzzQ.png"
          />
          <label for="avatar2"></label>

          <input
            type="radio"
            name="avatar"
            id="avatar3"
            value="https://i.imgur.com/Kj5D6T9.png"
          />
          <label for="avatar3"></label>

          <input
            type="radio"
            name="avatar"
            id="avatar4"
            value="https://i.imgur.com/ApdCIdy.png"
          />
          <label for="avatar4"></label>

          <input
            type="radio"
            name="avatar"
            id="avatar5"
            value="https://i.imgur.com/DjHQrcI.png"
          />
          <label for="avatar5"></label>
        </div>

        <button class="btn-login">Register</button>
      </form>
    </div>
  </body>
</html>
